.bookmarkFiltersContainer {
  align-items: flex-start;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  color: #4d4d4d;
  display: flex;
  justify-content: flex-start;
  left: 1rem;
  padding: 10px 5px;
  position: absolute;
  top: 9rem;
  width: 200px;
}

.bookmarkFiltersContent {
  width: 100%;
}

.bookmarkCategoryFilterContent header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.actionIcon {
  cursor: pointer;
}

.bookmarkCategoryFilterContent header .actionIcon{
  align-items: center;
  cursor: pointer;
  display: flex;
}

.categoryManagerContainer {
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  color: #4d4d4d;
  left: calc(200px + 1rem);
  min-width: 400px;
  padding: 10px 5px;
  position: absolute;
  top: 0;
}

.categoryManagerContainer caption {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.categoryManagerContainer caption span{
  align-items: center;
  cursor: pointer;
  display: flex;
}

.CategoryManager-Table {
  width: 100%;
}

.categoryManager-Form {
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  color: #4d4d4d;
  left: calc(200px + 400px + 2rem);
  padding: 10px 5px;
  position: absolute;
  top: 0;
}

.CategoryManager-Table .center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.colorPresenter {
  border-radius: 5px;
  display: block;
  height: 20px;
  width: 20px;
}

.bookmarkCategoryFilterContentBody {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 5px;
}

.categoryContainer {
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 5px;
  color: #4d4d4d;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 2px 5px;
  width: 50px;
}

.categoryContent {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
